div.tabledrag-toggle-weight-wrapper a.tabledrag-toggle-weight {display:none;}
table#menu-overview {float:left; width:70%;}
div#osu-menus-grade {
  float:left;
  width:20%;
  padding:20px;
  margin-left:20px;
}

.osu-menus-grade-letter {
  font-size:8em;
  display:block;
  margin-top:40px;
  margin-bottom:40px;
  margin-left:;
}
.osu-menus-grade-points {
  clear:both;
}

#osu-menus-grade.good {
  color: #4F8A10;
  background-color: #DFF2BF;
}

#osu-menus-grade.ok {
  color: #9F6000;
  background-color: #FEEFB3;
}

#osu-menus-grade.bad {
  color: #D8000C;
  background-color: #FFBABA;
}

div.form-actions {
  clear:both;
}